<div class="navbar-placeholder"></div>
<nav class="navbar" [class.hidden]="isNavbarHidden">
  <img src="assets/logo/logo.jpg" alt="" class="navbar-image">
  <ul class="nav-links">
    <li>
      <a (click)="goToHome()" >
        Início
      </a>
    </li>
    <li>
      <a (click)="goToAbout()" [class.active]="currentRoute === '/about'">
        Sobre
      </a>
    </li>
    <li>
      <a (click)="goToProjects()" [class.active]="currentRoute === '/projetos'">
        Projetos
      </a>
    </li>
    <li>
      <a (click)="goToContact()" [class.active]="currentRoute === '/contact'">
        Contacto
      </a>
    </li>
  </ul>
  <div class="social-links">
    <a href="https://www.facebook.com/profile.php?id=100054244400174&locale=pt_PT" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="mailto:circuitofavorito@sapo.pt" aria-label="Email">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="tel:+351919 760 185" aria-label="Telefone">
      <i class="fas fa-phone"></i>
    </a>
  </div>
</nav>
