.footer {
  position: relative;       /* necessário para o absolute da logo */
  padding: 2rem 1rem 2rem;  /* mais espaço em cima para a logo flutuar */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(234, 243, 255, 0.35) 0%,
    rgba(214, 232, 255, 0.35) 100%
  );

}

/* Logo oval flutuante */
.footer-logo-top {
  position: absolute;
  top: -66px;               /* sobe sobre o footer */
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  display: block;
  gap: 0.3rem;
}

.footer-logo-top .footer-logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-logo-texts {
  display: flex;
  flex-direction: column;
  align-items: center;    /* ← centra o texto */
  line-height: 1.1;
}

.footer-logo-title {
  font-family: 'Montserrat ', sans-serif;
  font-weight: 500; /* light */
  letter-spacing: -0.05em; /* aumenta para aproximar do logo */
  text-transform: uppercase;
  font-size: 2.2rem;    /* maior */
  color: #07277B;
  white-space: nowrap;
}

.footer-logo-subtitle {
  font-family:  'Montserrat ', sans-serif;
  font-weight: 300; /* light */
  letter-spacing: 0.12em; /* aumenta para aproximar do logo */
  text-transform: uppercase;
  font-size: 1.0rem;    /* menor */
  color: #07277B;
  white-space: nowrap;
}

/* Redes sociais */
.footer-social {
  margin-top: 90px;  /* dá espaço suficiente abaixo da logo */
  margin-bottom: 20px;
}

.footer-social a {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0 0.5rem;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  color: var(--text-color);
  transform: scale(1.2);
}

.footer-bottom{
  color: var(--primary-color);
}
